#variant-select-form {
    display: none;
    background-color: white;
}
.ui-dialog.ui-widget {
    background-color: #fff;
    padding:20px;
}

.ui-dialog-titlebar-close {
    float: right;
}

#editwindowConfigure li {
    padding: 10px;
}

#editwindowConfigure li span {
    font-size: 0.8em;
    font-weight: lighter;
    color: #aaa;
}

#editwindowConfigure li .help {
    font-size: 0.6em;
    font-weight: lighter;
    color: #aaa;
}


.create-ui-dynamictools .create-ui-tool-customarea select {
    width: auto!important;
}
