{% extends "admin:layout" %}
{%set dummy = template.addJS('admin:res!/lib/jquery.min') %}
{%set dummy = template.addCSS('admin:res!/lib/bootstrap/bootstrap.min') %}
{%set dummy = template.addJS('admin:res!/lib/chosen.jquery') %}
{%set dummy = template.addJS('admin:res!/lib/bootstrap/bootstrap.min') %}
{%set dummy = template.addJS('admin:res!/lib/underscore/underscore') %}
{%set dummy = template.addJS('admin:res!/lib/backbone/backbone') %}
{%set dummy = template.addJS('admin:res!/js/note_router') %}
{%set dummy = template.addJS('admin:res!/js/models/note_model') %}
{%set dummy = template.addJS('admin:res!/js/views/note_row') %}
{%set dummy = template.addJS('admin:res!/js/views/note_new') %}
{%set dummy = template.addJS('admin:res!/js/views/note_edit') %}
{%set dummy = template.addJS('admin:res!/js/views/note_index') %}
{%set dummy = template.addJS('admin:res!/js/views/note_show') %}
{%set dummy = template.addJS('admin:res!/js/dcms') %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>DocuAdmin</h1>
    </div>

    <p class="lead"></p>
      {# main nav #}
      <ul class="nav nav-pills">

          <li class="dropdown">
          <a data-toggle="dropdown" href="#">Collections</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      {# load collection dropdown#}
          {% for collection in collections %}
              <li><a href="#/notes/{{   collection.name }}/index">{{   collection.text.name_plural }}</a></li>
          {% endfor %}
      </ul>

          </li>
          <li>
          <a href="/code/cms/login">Logout</a>
         </li>
      </ul>
    <div class="row">
      <div class="span6" id="primary-content">
          <ul class="media-list">
              {% for collection in collections %}


              <li class="media">

                  <div class="media-body">
                      <a href="#/notes/{{   collection.name }}/index">
                      <h4 class="media-heading">{{   collection.text.name_plural }}</h4>
                          </a>
                      <p>{{  collection.description }}</p>
                  </div>

              </li>
              {% endfor %}
          </ul>
        {# the container that gets populated with the index
           this is the main container for backbone views #}
      </div>

    </div>


  </div>
  {# the form, used for create and edit #}
  <script type="text/jst" id="formTemplate">
    <div class="well">
      <div class="alert alert-error" style="display:none;"></div>
       <h2 class="form-signin-heading"></h2>
      <form role="form" id="editForm">



      </form>
           <div class="form-actions">
          <button class="save btn btn-large btn-info" type="submit">Save</button> or
          <a href="#notes/<%= schema.collection %>/index" class="btn btn-large">Cancel</a>
        </div>
    </div>
  </script>
    {# the index container #}
  <script type="text/template" id="indexTemplate">
    <div class="well">
        <a class="btn btn-block   btn-info" href="#note/<%= schema.name %>/new">Create New <%= schema.text.name_singular %></a>

    </div>

    <p class="lead"><%= schema.description %></p>
    <ul class="nav nav-tabs" id="listSectionTabs">
        </ul>
    <div class="tab-content" id="listSections"> </div>
  </script>
    <script type="text/template" id="newTabTemplate">
        <li><a href="#TabContent<%= group_id%>" data-toggle="tab"><%= group%></a></li>
    </script>
    <script type="text/template" id="newTabContentTemplate">
        <div class="tab-pane" id="TabContent<%= group_id%>">
            <table id="tableCollection" class="table table-striped">
                <thead>
                <tr>

                    <th class="deleterow"></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </script>
    {# the row template, renders once for each item in the index #}
  <script type="text/template" id="rowTemplate">
    <td class="deleterow">
        <% if (schema.extends_id)  { %>
        <a class="inherit btn   btn-small btn-info" href="#note/<%= schema.name %>/inherit/<%= exid %>">Inherit</a>
        <% } %>
        <a class="clone btn   btn-small btn-info" href="#">Clone</a>
        <a href="#" class="delete btn btn-danger btn-small">delete</a>
    </td>
  </script>
  {# the show template #}
  <script type="text/template" id="showTemplate">
    <div class="well">
      <a class="btn btn-large" href="#notes/<%= name %>/index">
        Back To Index
      </a>
      <a class="btn btn-large btn-info" href="#note/<%= name %>/<%= id %>/edit">
        Edit <% schema.text.name_singular %>
      </a>

    </div>
    <h2>
      <%= title %>
      <small>by: <%= author %></small>
    </h2>
    <p style="white-space:pre-wrap;"><%= description %></p>
  </script>

  <script type="text/javascript">
    var notes = new APP.Collections.NoteCollection();
    var router = new APP.Routers.NoteRouter({notes: notes});

    Backbone.history.start();


  jQuery(function(){
      variant_id = 'routes';
    {{ cms.renderJS() }}
      notes.url = 'api/admin/collection/'+variant_id;
    //  notes.fetch({reset: true});
  });
  </script>
{% endblock %}
{% block GAInclude %}
{%  endblock %}
{% block mixpanelInclude %}
{%  endblock %}